{% extends "content.html" %}

{% macro show_image(image) -%}
    <div class="ui bordered image">
       <div class="ui small header centered">{{ image.title }}
       {% if image.period %}
          - {{ image.period }}
        {% endif %}
       </div>
       <a href="#show"> <img src="{{ STATIC_URL }}/images/white-image.png"
           data-src="/salida{{ image.content }}" title="{{ image.period_name}}"></a>
    </div>
{%- endmacro %}

{% block content %}
<h1 class="ui header">
    <i class="{{ page.icon }} full icon"></i>
    <div class="content">
        {{ page.title }}
        <div class="sub header">{{ page.description }}</div>
    </div>
</h1>
<div class="ui padded basic" data-tab="panel-one">
    {{ page }}
</div>
<div class="ui secondary pointing menu parent">
    <a class="item" data-tab="panel-two">
        Precipitación
    </a>
    <a class="item" data-tab="panel-three">
        Temperatura
    </a>
</div>
<div class="ui segment tab small images" data-tab="panel-two">
    {% for group in model.prec|groupby('region_name') %}
        <div class="ui header">{{ group.grouper }}</div>
        <div class="ui">
        {% for image in group.list|sort(attribute='order') %}
              {{ show_image(image) }}
        {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="ui segment tab small images" data-tab="panel-three">
    {% for group in model.temp|groupby('region_name') %}
        <div class="ui header">{{ group.grouper }}</div>
        <div class="ui">
        {% for image in group.list|sort(attribute='order') %}
              {{ show_image(image) }}
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block dialog %}
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <img class="ui centered image" src="{{ STATIC_URL }}/images/white-image.png">
  </div>
  <div class="actions">
    <div class="ui white deny button">
      Cerrar
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $('.menu .item').tab({
        onVisible: function() {
            $(this).find('img').visibility({
                type       : 'image',
                transition : 'fade in',
                duration   : 1000
            });
        }
    }).tab("change tab", "panel-two");

    $('a[href="#show"]').click(function (ev) {
        var source = $(ev.target);
        var img = $('.modal .content img');
        var title = $('.modal .header');
        title.html(source.attr("title"));
        img.attr("src", source.attr("data-src"));
        $('.ui.modal').modal('show');
        ev.preventDefault();
    });
</script>
{% endblock %}